# Sales figures

A business has a number of retail outlets across the world. Each outlet keeps a track of its monthly sales and sends a quarterly report to the company's headquarters. Using at least two different data structures, write a program that calculates the average for each outlet and each month, the total for each outlet and each month, and the grand total for the quarter.

Sales by month table:

|     | Apr 18 | May 18 | Jun 18 |
|-----|--------|--------|--------|
| L3  |   390  |   345  |   379  |
| P2  |   250  |   270  |   300  |
| N6  |   460  |   480  |   450  |
| B8  |   470  |   510  |   360  |

In [44]:
# a dictionary with lists for the values
sales_data = {
    "Apr 18": [390, 250, 460, 470],
    "May 18": [345, 270, 480, 510],
    "Jun 18": [379, 300, 450, 360]
}
# we'll use a tuple to store the regions
regions = ("London", "Paris", "New York", "Beijing")

# and another dictionary for the region lookups
region_codes = {"London": "L3", "Paris": "P2", "New York": "N6", "Beijing": "B8"}

In [46]:
# Calculate total and average sales per region
total_sales_per_region = {}
average_sales_per_region = {}
for i, region in enumerate(regions):
    total_sales = sum(sales_data[month][i] for month in sales_data) * 1000
    average_sales = (total_sales / len(sales_data)) / 1000
    total_sales_per_region[region] = total_sales
    average_sales_per_region[region] = average_sales

# Calculate total and average sales per month
total_sales_per_month = {}
average_sales_per_month = {}
for month in sales_data:
    total_sales = sum(sales_data[month]) * 1000
    average_sales = (total_sales / len(sales_data[month])) / 1000
    total_sales_per_month[month] = total_sales
    average_sales_per_month[month] = average_sales

# Calculate grand total
grand_total = sum(total_sales_per_region.values())

In [49]:
# Generate report output
report = "Quarterly Sales Report\n\n"
for region in regions:
    avg_sales = average_sales_per_region[region] * 1000
    total_sales = total_sales_per_region[region]
    # note how we format to 0 decimal places to format the averages nicely
    # also, right alignment is used for the numbers to keep things tidy
    report += f"{region:<12} {region_codes[region]}:   ${avg_sales:>10,.0f}   ${total_sales:>10,}\n"

report += "\n"

for month in sales_data:
    avg_sales = average_sales_per_month[month] * 1000
    total_sales = total_sales_per_month[month]
    report += f"{month:<14} :   ${avg_sales:>10,.0f}   ${total_sales:>10,}\n"

report += f"\nTotal: ${grand_total:,.0f}\n"

In [50]:
print(report)

Quarterly Sales Report

London       L3:   $   371,333   $ 1,114,000
Paris        P2:   $   273,333   $   820,000
New York     N6:   $   463,333   $ 1,390,000
Beijing      B8:   $   446,667   $ 1,340,000

Apr 18         :   $   392,500   $ 1,570,000
May 18         :   $   401,250   $ 1,605,000
Jun 18         :   $   372,250   $ 1,489,000

Total: $4,664,000